*{
    margin: 0;
    padding:0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-head{
    width: 50%;
    height: 100%;
    background-color: #ee8413;
}

.right-head{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-head img{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.right-head form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(max-width: 528px){

    body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    .left-head{
        height: 20%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .right-head{
        display: flex;
        justify-content: center;

    }




}